<div class="jurado-card">

    <a class="jurado-header" href="{% url 'dame_jurado' id_jurado=Jurado_Mostrar.id %}">
        <i class="fa-solid fa-user-tie icon"></i>
        <h2 class="jurado-nombre">{{ Jurado_Mostrar.usuario.username }}</h2>
    </a>

    <section class="jurado-info">

        <div class="info-item">
            <i class="fa-solid fa-envelope icon"></i>
            <p class="label">Correo:</p>
            <p class="value">{{ Jurado_Mostrar.usuario.email }}</p>
        </div>

        <div class="info-item">
            <i class="fa-solid fa-award icon"></i>
            <p class="label">Especialidad:</p>
            <p class="value">{{ Jurado_Mostrar.especialidad }}</p>
        </div>

        <div class="info-item">
            <i class="fa-solid fa-star-half-stroke icon"></i>
            <p class="label">Puntuación Media:</p>
            <p class="value">{{ Jurado_Mostrar.puntuacion_media }}</p>
        </div>
        <hr>
        <div class="info-item concursos">
            <i class="fa-solid fa-list-check icon"></i>
            <p class="label">Concursos Asignados:</p>
            <ul class="lista-concursos">
                {% for concurso in Jurado_Mostrar.concursos.all %}
                    <li>
                        <a
                            href="{% url 'dame_concurso' id_concurso=concurso.id %}"
                            class="{% if concurso.activo %}estado-activo{% else %}estado-inactivo{% endif %}"
                        >
                            {{ concurso.nombre }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <!-- BOTONES -->
        
            <div class="ud-buttons">
                {% if perms.Concursos_Online.change_jurado %}
                    <a class="editar" href="{% url 'jurado_editar' id_jurado=Jurado_Mostrar.id %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Editar
                    </a>
                {% endif %}
                {% if perms.Concursos_Online.delete_jurado %}
                    <button type="button" class="eliminar"
                            data-bs-toggle="modal"
                            data-bs-target="#modalEliminar"
                            data-url="{% url 'jurado_eliminar' id_jurado=Jurado_Mostrar.id %}">
                        <i class="fa-solid fa-trash-can"></i>
                        Eliminar
                    </button>
                {% endif %}
            </div>
        

    </section>

</div>
