{% extends "base/base.html" %}
{% load static %}

{% block title %}ConcurNet - Jurados{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra/lista.css' %}">
    <link rel="stylesheet" href="{% static 'css/extra/jurado.css' %}">
{% endblock %}

{% block cabecera %}
    <h1>Listado de Jurados</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}
    
    {% if perms.Concursos_Online.delete_jurado %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
        <hr>
        <br>
    {% endif %}

    <div class="list">
        {% for Jurado_Mostrar in Jurados_Mostrar %}
            {% include "models/jurados/_item_jurado.html" %}
        {% empty %}
            <h2>No se encontraron jurados</h2>
        {% endfor %}
    </div>
{% endblock %}