<div class="participante-card">
    <header class="participante-header">
        <div class="header-icon">
            <i class="fa-solid fa-user"></i>
        </div>
        <h1 class="header-title">Ficha del Participante</h1>
    </header>
    <section class="participante-info">
        <div class="info-item">
            <div class="info-icon">
                <i class="fa-solid fa-user-tie"></i>
            </div>
            <div class="info-text">
                <p class="label">Nombre</p>
                <p class="value">{{ Participante_Mostrar.usuario.nombre_usuario }}</p>
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">
                <i class="fa-solid fa-user-astronaut"></i>
            </div>
            <div class="info-text">
                <p class="label">Alias</p>
                <p class="value">{{ Participante_Mostrar.alias }}</p>
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">
                <i class="fa-solid fa-calendar"></i>
            </div>
            <div class="info-text">
                <p class="label">Edad</p>
                <p class="value">{{ Participante_Mostrar.edad }}</p>
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">
                <i class="fa-brands fa-superpowers"></i>
            </div>
            <div class="info-text">
                <p class="label">Nivel</p>
                <p class="value">{{ Participante_Mostrar.nivel }}</p>
            </div>
        </div>

        <div class="ud-buttons">
            <a class="editar" href="{% url 'participante_editar' id_participante=Participante_Mostrar.id %}">
                <i class="fa-regular fa-pen-to-square"></i>
                Editar
            </a>
            <button type="button" class="eliminar"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEliminar"
                    data-url="{% url 'participante_eliminar' id_participante=Participante_Mostrar.id %}">
                <i class="fa-solid fa-trash-can"></i>
                Eliminar
            </button>
        </div>

    </section>
</div>

