{% extends "base/base.html" %}
{% load static %}

{% block title %}ConcurNet - Participantes{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra/lista.css' %}">
    <link rel="stylesheet" href="{% static 'css/extra/participante.css' %}">
{% endblock %}

{% block cabecera %}
    <h1>Listado de Participantes</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}

    {% include "base/modal/_modal_eliminar.html" %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
        <hr>
        <br>
    {% endif %}

    <div class="list">
        {% for Participante_Mostrar in Participantes_Mostrar %}
            {% include "models/participantes/_item_participante.html" %}
        {% empty %}
            <h2>No se encontraron participantes</h2>
        {% endfor %}
    </div>
{% endblock %}