{% extends "base/base.html" %}
{% load static %}

{% block title %}ConcurNet - Participante{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra/participante.css' %}">
{% endblock %}

{% block cabecera %}
    <h1>Detalles de Participante</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}
    
    {% if perms.concursos_online.delete_participante %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% include "models/participantes/_item_participante.html" %}
{% endblock %}