<div class="concurso-card">
    <header class="concurso-header">
        <div>
            <h1>Concurso</h1>
            <h2 class="concurso-nombre">{{ Concurso_Mostrar.nombre|cut:"Concurso" }}</h2>
        </div>

        {% if Concurso_Mostrar.activo %}
            <span class="estado estado-activo">Activo</span>
        {% elif not Concurso_Mostrar.activo %}
            <span class="estado estado-inactivo">Inactivo</span>
        {% endif %}
    </header>

    <section class="concurso-info">
        <p class="descripcion">{{ Concurso_Mostrar.descripcion|truncatechars:100 }}</p>
        
        <div class="concurso-fecha">
            <p><strong>Inicio:</strong> {{ Concurso_Mostrar.fecha_inicio|date:"d/m/Y H:i" }}</p>
            <p><strong>Final:</strong> {{ Concurso_Mostrar.fecha_final|date:"d/m/Y H:i" }}</p>
        </div>
        <br>
        <p><strong>Creador:</strong>
            <a href="{% url 'dame_administrador' id_administrador=Concurso_Mostrar.creador.id %}" class="usuario">
                <i class="fa-solid fa-user"></i>
                {{ Concurso_Mostrar.creador.usuario.username }}
            </a>
        </p>
        <br>
        <p><strong>Alias Ganador:</strong>
            {% if Concurso_Mostrar.ganador %}
                <a href="{% url 'dame_participante' id_participante=Concurso_Mostrar.ganador.id %}" class="usuario">
                    <i class="fa-solid fa-user"></i>
                    {{ Concurso_Mostrar.ganador.alias }}
                </a>
            {% else %}
                <span class="estado estado-inactivo">Sin Ganador</span>
            {% endif %}
        </p>
        <br>
    </section>

    <section class="concurso-participantes">
        <h3>Participantes: {{ Concurso_Mostrar.participantes.all|length }}</h3>
        <ul>
            {% for Participante in Concurso_Mostrar.participantes.all|slice:":5" %}
                <li>
                    <a href="{% url 'dame_participante' id_participante=Participante.id %}" class="usuario">
                        <i class="fa-solid fa-user"></i>
                        {{ Participante.alias }}
                    </a>
                </li>
            {% empty %}
                <p class="no-participantes">No hay participantes registrados.</p>
            {% endfor %}
        </ul>
        {% if Concurso_Mostrar.participantes.all|length > 5 %}
            <a href="{% url 'dame_participantes_concurso' id_concurso=Concurso_Mostrar.id %}" class="ver-mas">
                Ver más participantes...
            </a>
        {% endif %}
    </section>
    <br>
    <section class="concurso-links">
        <a class="boton-link" href="{% url 'dame_concurso' id_concurso=Concurso_Mostrar.id %}">
            <i class="fa-solid fa-circle-info"></i>
            Ver Concurso
        </a>

        <a class="boton-link" href="{% url 'dame_concursos_fecha' Concurso_Mostrar.fecha_inicio.year Concurso_Mostrar.fecha_inicio.month %}">
            <i class="fa-solid fa-circle-info"></i>
            Ver concursos del mismo mes
        </a>
        <br>
        <!-- BOTONES -->
        <div class="ud-buttons">
            {% if perms.Concursos_Online.change_concurso %}
                <a class="editar" href="{% url 'concurso_editar' id_concurso=Concurso_Mostrar.id %}">
                    <i class="fa-regular fa-pen-to-square"></i>
                    Editar
                </a>
            {% endif %}
            {% if perms.Concursos_Online.delete_concurso %}
                <button type="button" class="eliminar"
                        data-bs-toggle="modal"
                        data-bs-target="#modalEliminar"
                        data-url="{% url 'concurso_eliminar' id_concurso=Concurso_Mostrar.id %}">
                    <i class="fa-solid fa-trash-can"></i>
                    Eliminar
                </button>
            {% endif %}
        </div>
    </section>

</div>

