{% extends "base/base.html" %}
{% load static %}

{% block title %}ConcurNet - Concurso{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra/concurso.css' %}">
{% endblock %}

{% block cabecera %}
    <h1>Detalles de Concurso</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}

    {% if perms.concursos_online.delete_concurso %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% include "models/concursos/_item_concurso.html" %}
    
{% endblock %}