{% extends "base/base.html" %}

{% block title %}ConcurNet - Menu{% endblock %}

{% block cabecera %}
    <br>
    <h1>Listado de enlaces</h1>
    <br>
{% endblock %}
{% block contenido %}
    <h3>Tarea URL</h3>
    <div class="placeholder-menu">
        <ul>
            <li><a href="{% url 'concursos_listar' %}">Concursos</a></li>
            <li><a href="{% url 'usuarios_listar' %}">Usuarios</a></li>
            <li><a href="{% url 'participantes_listar' %}">Participantes</a></li>
            <li><a href="{% url 'perfiles_listar' %}">Perfiles</a></li>
            <li><a href="{% url 'administradores_listar' %}">Administradores</a></li>
            <li><a href="{% url 'jurados_listar' %}">Ver los Jurados y sus concursos Asignados</a></li>
            <li><a href="{% url 'dame_concurso' id_concurso=1 %}">Ver Concurso ID 1</a></li>
            <li><a href="{% url 'dame_concursos_fecha' anyo_concurso=2025 mes_concurso=5 %}">Ver Concursos que empienzan en mayo de 2025</a></li>
            <li><a href="{% url 'dame_concurso_activo' activo=True %}">Ver Concursos activos</a></li>
            <li><a href="{% url 'dame_concurso_texto' texto="a" %}">Ver Concursos con "a" en la descripcion</a></li>
            <li><a href="{% url 'dame_ultimo_participante' id_concurso=1 %}">Ver Ultimo Participante inscrito en el Concurso ID 1</a></li>
            <li><a href="{% url 'detalle_participante_alias' alias_participante="rufina70" %}">Ver Participante con alias: rufina70</a></li>
            <li><a href="{% url 'usuarios_sin_notificar' %}">Usuarios sin Notificaciones</a></li>
            <li><a href="{% url 'metricas_experiencia_jurados' %}">Ver Nivel de Experiencia de los Jurados</a></li>
        </ul>
    </div>
    <br>
    <h3>Tarea CRUD</h3>
    <div class="placeholder-menu">
        <ul>
            <hr>
            <h4>USUARIO CRUD</h4>
            <li><a href="{% url 'usuario_create' %}">Crear USUARIO</a></li>
            <li><a href="{% url 'usuarios_listar' %}">Filtro Simple USUARIO</a></li>
            <li><a href="{% url 'usuario_buscar_avanzado' %}">Filtro Avanzado USUARIO</a></li>
            <li><a href="{% url 'usuarios_listar' %}">Actualizar USUARIO ID:6 </a></li>
            <li><a href="{% url 'usuarios_listar' %}">Eliminar USUARIO</a></li>
            <hr>
            <h4>PERFIL CRUD</h4>
            <li><a href="{% url 'perfil_create' %}">Crear PERFIL</a></li>
            <li><a href="{% url 'perfil_buscar_avanzado' %}">Filtro Avanzado PERFIL</a></li>
            <li><a href="{% url 'perfil_editar' id_perfil=2 %}">Actualizar PERFIL ID:2 </a></li>
            <li><a href="{% url 'perfiles_listar' %}">Eliminar PERFIL</a></li>
            <hr>
            <h4>PARTICIPANTE CRUD</h4>
            <li><a href="{% url 'participante_create' %}">Crear PARTICIPANTE</a></li>
            <li><a href="{% url 'participante_buscar_avanzado' %}">Filtro Avanzado PARTICIPANTE</a></li>
            <li><a href="{% url 'participante_editar' id_participante=2 %}">Actualizar PARTICIPANTE ID:2 </a></li>
            <li><a href="{% url 'participantes_listar' %}">Eliminar PARTICIPANTE</a></li>
            <hr>
            <h4>ADMINISTRADOR CRUD</h4>
            <li><a href="{% url 'administrador_create' %}">Crear ADMINISTRADOR</a></li>
            <li><a href="{% url 'administrador_buscar_avanzado' %}">Filtro Avanzado ADMINISTRADOR</a></li>
            <li><a href="{% url 'administrador_editar' id_administrador=2 %}">Actualizar ADMINISTRADOR ID:2 </a></li>
            <li><a href="{% url 'administradores_listar' %}">Eliminar ADMINISTRADOR</a></li>
            <hr>
            <h4>JURADO CRUD</h4>
            <li><a href="{% url 'jurado_create' %}">Crear JURADO</a></li>
            <li><a href="{% url 'jurado_buscar_avanzado' %}">Filtro Avanzado JURADO</a></li>
            <li><a href="{% url 'jurado_editar' id_jurado=2 %}">Actualizar JURADO ID:2 </a></li>
            <li><a href="{% url 'jurados_listar' %}">Eliminar JURADO</a></li>
            <hr>
            <h4>CONCURSO CRUD</h4>
            <li><a href="{% url 'concurso_create' %}">Crear CONCURSO</a></li>
            <li><a href="{% url 'concurso_buscar_avanzado' %}">Filtro Avanzado CONCURSO</a></li>
            <li><a href="{% url 'concurso_editar' id_concurso=2 %}">Actualizar CONCURSO ID:2 </a></li>
            <li><a href="{% url 'concursos_listar' %}">Eliminar CONCURSO</a></li>
            <hr>
        </ul>
    </div>
{% endblock %}