<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concurso</title>
</head>
<body>
    <h1>Concurso:</h1>
    <div>
            <h2>Nombre: {{Concurso_Mostrar.nombre}}</h2>
            <p>Descripcion: {{Concurso_Mostrar.descripcion}}</p>
            <h3>Fecha Inicio: {{Concurso_Mostrar.fecha_inicio}}</h3>
            <h3>Fecha Final: {{Concurso_Mostrar.fecha_final}}</h3>
            <h3>Activo: {{Concurso_Mostrar.activo}}</h3>
            <h3>Creador: {{Concurso_Mostrar.creador.usuario.nombre_usuario}}</h3>
            <h3>Alias Ganador: {{Concurso_Mostrar.ganador.alias}}</h3>
            <h2>Participantes:</h2>
            <ul>
                {% for Participante in Concurso_Mostrar.participantes.all %}
                    <li>alias: {{Participante.alias}}</li>
                {% endfor %}
            </ul>
        </div>
</body>
</html>