<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    <h1>Gestion de concursos Online</h1>
    <br>
    <h3>Listado de enlaces</h3>
    <ul>
        <li><a href="{% url 'lista_concursos' %}">Concursos</a></li>
        <li><a href="{% url 'dame_concurso' id_concurso=1 %}">Ver Concurso ID 1</a></li>
        <li><a href="{% url 'dame_concursos_fecha' anyo_concurso=2025 mes_concurso=5 %}">Ver Concursos que empienzan en mayo de 2025</a></li>
        <li><a href="{% url 'dame_concurso_activo' activo=True %}">Ver Concursos activos</a></li>
    </ul>
</body>
</html>