<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jurados</title>
</head>
<body>
    <h1>Jurados: </h1>
    <hr>
    {% for jurado in Jurados_Mostrar %}
        <br><br>
        <hr>
        <div>
            <h2>Nombre: {{jurado.usuario.nombre_usuario}}</h2>
            <p>Correo: {{jurado.usuario.correo}}</p>
            <h3>Especialidad: {{jurado.especialidad}}</h3>
            <h3>Puntuacion Media: {{jurado.puntuacion_media}}</h3>
            <h3>Concursos Asignados:</h3>
            <ul>
            {% for concurso in jurado.concursos.all %}
                <li>{{ concurso.nombre }}</li>
            {% endfor %}
            </ul>
        </div>
        <hr>
    {% endfor %}
</body>
</html>