<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metricas Jurados</title>
</head>
<body>
    <h1>Nivel de Experiencia de los Jurados:</h1>
    <br>
    <hr>
    <br>
    <h2>Nivel de Experiencia Media: {{Metricas_Mostrar.media_experiencia}}</h2>
    <h2>Nivel de Experiencia Minima: {{Metricas_Mostrar.min_experiencia}}</h2>
    <h2>Nivel de Experiencia Maxima: {{Metricas_Mostrar.max_experiencia}}</h2>
</body>
</html>