{% extends "base/base.html" %}
{% load static %}

{% block title %}ConcurNet - Administrador{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra/administrador.css' %}">
{% endblock %}

{% block cabecera %}
    <h1>Detalles de Administrador</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}
    {% if perms.Concursos_Online.delete_administrador %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% include "models/administradores/_item_administrador.html" %}
    
{% endblock %}