<footer>
    <div class="container footer-content">
        <a href="{% url 'home' %}" class="logo-footer"></a>

        <div class="social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>

        <div class="copyright">
            <p>© ConcurNet</p>
            <a href="">Terms of Use</a>
            <a href="">Privacy Notice</a>
            <a href="">Cookies</a>
        </div>
    </div>
</footer>