<header>
    <div class="container header-content">
        <a href="{% url 'home' %}" class="logo-header"></a>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}" class="a-home">
                    <i class="fa-solid fa-house-chimney"></i>
                    Home
                </a></li>
                <li><a href="{% url 'menu' %}" class="a-menu">
                    <i class="fa-regular fa-compass"></i>
                    Menu
                </a></li>
                <li><a href="" class="a-Sing-Up" onclick="proximamente()">
                    <i class="fa-solid fa-user-plus"></i>
                    Sing-Up
                </a></li>
                <li><a href="" class="a-Log-in" onclick="proximamente()">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    Log-in
                </a></li>
            </ul>
        </nav>
    </div>
</header>