{% extends "base/base.html" %}
{% load static %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}ConcurNet - Crear Jurado{% endblock %}

{% block extra_css %}
{% endblock %}

{% block cabecera %}
    <h1>Crear Jurado</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}
    <form action="{% url 'jurado_create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form formulario %}
        <button type="submit" class="btn btn-success">Crear</button>
        <a href="{% url 'dame_jurados' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}