/* Tarjeta principal */
.concurso-card {
    flex: 1 1 33%;
    min-width: 450px;
    padding: 25px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: #333;
}

/* HEADER */
.concurso-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    border: 0px;
    border-radius: 16px;
}
.concurso-header h1 {
    margin: 0;
    font-size: 1rem;
    color: #666;
}
.concurso-nombre {
    font-size: 1.4rem;
    margin: 3px 0 0;
    color: #07294B;
    font-weight: 800;
}

/* Estado */
.estado {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: .85rem;
    font-weight: bold;
}
.estado-activo {
    background: #d4fde1;
    color: #1b7d3b;
}
.estado-inactivo {
    background: #ffe0e0;
    color: #9b1c1c;
}

/* INFO */
.descripcion {
    margin-bottom: 15px;
    font-style: italic;
    color: #444;
}
.concurso-fecha {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}
.concurso-fecha p {font-weight: 900;}

.concurso-info p {
    margin: 8px 0;
    line-height: 1.4;
}

/* PARTICIPANTES */
.concurso-participantes h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #444;
}
.concurso-participantes ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.concurso-participantes li {
    padding-bottom: 15px;
    margin-bottom: 10px;
}
a.usuario {
    background: #eef0f3;
    padding: 8px 12px;
    border-radius: 50px;
    transition: 0.2s ease;
    text-decoration: none;
    color: #333;
}
a.usuario:hover {
    background: #dde1e7;
}

.no-participantes {
    font-style: italic;
    color: #777;
}

/* LINKS */
.concurso-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-link {
    background: #0a3c6f;
    color: white;
    padding: 10px 14px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
}
.btn-link i  {
    color: white;
}

.btn-link:hover {
    background: #07294B;
}

/* ---------- DARK MODE ---------- */
@media (prefers-color-scheme: dark) {
    .concurso-card {
        background: #1e1e20;
        color: #e0e0e0;
        box-shadow: 
        rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, 
        rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
    }
    .concurso-header{
        box-shadow: 
        rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, 
        rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
    }
    .concurso-header h1 {
        color: #818388;
    }
    .concurso-nombre {
        color: #e0e0e0;
    }
    .estado-activo {
        background: #1b7d3b22;
        color: #8fffb3;
    }
    .estado-inactivo {
        background: #9b1c1c22;
        color: #ffb3b3;
    }
    .descripcion {
        color: #818388;
    }
    .concurso-fecha p {
        color: #e0e0e0;
    }
    .concurso-info p {
        color: #e0e0e0;
    }
    .concurso-participantes h3 {
        color: #e0e0e0;
    }
    a.usuario {
        background: #28282A;
        border: 3px solid #28282A;
        color: #e0e0e0;
    }
    a.usuario:hover {
        background: #1e1e20;
        border: 3px solid #28282A;
    }
    .no-participantes {
        color: #818388;
    }
    .btn-link {
        background: #072946;
        color: white;
    }
    .btn-link:hover {
        background: #041625;
    }
    .btn-link i {
        color: white;
    }
}