.perfil-card {
    flex: 1 1 33%;
    max-width: 1200px;
    min-width: 350px;
    margin: 30px auto;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
}

.perfil-header {
    background-color: #0a3c6f;
    padding: 1rem;
}

.perfil-title {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}
.perfil-title i {
    color: white;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.perfil-body {
    padding: 1.5rem;
}

.ud-buttons {
    display: flex;
    gap: 10px;
}
.ud-buttons a i , .ud-buttons button i {
    font-size: 1.2rem;
    color: white;
}

.ud-buttons a , .ud-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 6px 12px;
    border-radius: 6px;
    border-color: transparent;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    color: white;
    box-shadow: 
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.ud-buttons .editar {
    background-color: #415a77;
}
.ud-buttons .editar:hover {
    background-color: #314863;
}
.ud-buttons .eliminar {
    background-color: #8b2f3c;
}
.ud-buttons .eliminar:hover {
    background-color: #6f252f;
}
