<div class="usuario-card">
    <a class="usuario-header" href="{% url 'dame_usuario' id_usuario=Usuario_Mostrar.id %}">
        <i class="fa-solid fa-user icon"></i>
        <h2 class="usuario-nombre">{{ Usuario_Mostrar.username }}</h2>
    </a>
    <section class="usuario-info">
        <div class="info-item">
            <i class="fa-solid fa-envelope icon"></i>
            <p class="label">Correo:</p>
            <p class="value">{{ Usuario_Mostrar.email }}</p>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-calendar icon"></i>
            <p class="label">Fecha registro:</p>
            <p class="value">{{ Usuario_Mostrar.date_joined|date:"d/m/Y" }}</p>
        </div>
        <div class="ud-buttons">
            {% if perms.Concursos_Online.change_usuario %}
                <a class="editar" href="{% url 'usuario_editar' id_usuario=Usuario_Mostrar.id %}">
                    <i class="fa-regular fa-pen-to-square"></i>
                    Editar
                </a>
            {% endif %}
            {% if perms.Concursos_Online.delete_usuario %}
                <button type="button" class="eliminar"
                        data-bs-toggle="modal"
                        data-bs-target="#modalEliminar"
                        data-url="{% url 'usuario_eliminar' id_usuario=Usuario_Mostrar.id %}">
                    <i class="fa-solid fa-trash-can"></i>
                    Eliminar
                </button>
            {% endif %}
        </div>
    </section>
</div>
