{% extends "base/base.html" %}
{% load static %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}ConcurNet - Actualizar Participante{% endblock %}

{% block extra_css %}
{% endblock %}

{% block cabecera %}
    <h1>Actualizar Participante</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}
    <form action="{% url 'participante_editar' participante.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form formulario %}
        <button type="submit" class="btn btn-success">Actualizar</button>
        <a href="{% url 'participantes_listar' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}